<h1>Agregar Nota</h1>
<form method="post">
    {% csrf_token %}
    <label for="alumno">Alumno:</label>
    <select name="alumno" id="alumno">
        {% for alumno in alumnos %}
        <option value="{{ alumno.id }}">{{ alumno.nombres }} {{ alumno.apellidos }}</option>
        {% endfor %}
    </select>

    <label for="asignatura">Asignatura:</label>
    <select name="asignatura" id="asignatura">
        {% for asignatura in asignaturas %}
        <option value="{{ asignatura.id }}">{{ asignatura.nombre }}</option>
        {% endfor %}
    </select>

    <label for="calificacion">Calificación:</label>
    <input type="text" name="calificacion" id="calificacion" required>

    <button type="submit">Guardar</button>
</form>

